<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/787229a6-ff66-48c3-955f-c5bee4ae991a/resourceGroups/PortalMartinsAPI20241114222405ResourceGroup/providers/Microsoft.ApiManagement/service/PortalMartinsAPIGerenciamento/apis/PortalMartinsAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/787229a6-ff66-48c3-955f-c5bee4ae991a/resourceGroups/PortalMartinsAPI20241114222405ResourceGroup/providers/Microsoft.Web/sites/PortalMartinsAPI</ResourceId>
    <ResourceGroup>PortalMartinsAPI20241114222405ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://portalmartinsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4f49b689-3c80-4e0e-bc5c-b78383d495c0</ProjectGuid>
    <PublishUrl>https://portalmartinsapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PortalMartinsAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>