nav {
  a {
    font-size: var(--fst-h5);

    color: var(--color-text-d-0);

    &:hover {
      color: var(--color-orange-0);
    }
  }

  padding: var(--p-3) var(--p-5);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 850px) {
    justify-content: center;

    padding: var(--p-3) var(--p-5);
  }

  div {
    display: flex;
    justify-content: center;

    border-left: 3px solId var(--color-orange-1);
    border-style: dashed;
    padding-left: var(--p-5);

    @media (max-width: 850px) {
      border: none;
    }

    ul {
      display: flex;
      align-items: center;

      gap: var(--g-4);

      @media (max-width: 850px) {
        display: none;
        flex-direction: column;
        align-items: end;
        justify-content: space-around;

        height: max-content;

        position: absolute;
        top: 72px;
        right: 32px;

        background-color: white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
        transform: scale(1.02);

        border-radius: 0 0 10px 10px;

        padding: var(--p-3) var(--p-3);
      }

      &.show {
        display: flex !important;
      }
    }

    #menu-burger {
      display: none;

      width: max-content;
      height: max-content;

      color: var(--green-1);

      background-color: var(--bgc-color-l-1);

      font-size: 30px;
      font-weight: bolder;

      @media (max-width: 850px) {
        display: block;
      }
    }
  }
}

#acess {
  display: flex;
  flex-direction: row;

  gap: var(--g-4);

  padding-right: var(--p-5);
  margin-left: var(--m-5);
}
