@import "root.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;

  font-size: 62.5%;

  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-family: sans-serif;
}

body {
  background-color: var(--color-light);
}

h1,
h2,
h3 {
  line-height: var(--line-title);
  letter-spacing: var(--line-title);
}

h1 {
  font-size: var(--font-h1);
  font-weight: 900;
}

h2 {
  font-size: var(--font-h2);
  font-weight: 700;

  margin-bottom: var(--m-5);
}

h3 {
  font-size: var(--font-h3);
  font-weight: 600;

  margin-bottom: var(--m-2);
}

h4 {
  font-size: var(--font-h4);
}

p,
figcaption {
  font-size: var(--font-p);
  line-height: var(--line-body);
}

a {
  display: flex;
  flex-direction: column;
  align-items: end;

  width: fit-content;

  gap: 0.2rem;

  color: #000;
  font-size: var(--font-a);

  span {
    width: 30%;
    border: 0.18rem solid var(--orange-1);

    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: var(--orange-1);

    span {
      width: 100%;
    }
  }
}

span {
  font-size: var(--font-span);
}

figure {
  display: flex;
  flex-direction: column;

  gap: var(--gap-1);
}

img {
  object-fit: cover;
}

section {
  padding: var(--p-5) var(--p-3);

  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customBtn {
  padding: var(--p-1) var(--p-5);

  background-color: var(--orange-1);

  color: var(--color-light);

  border-radius: var(--bdr-2);

  cursor: pointer;

  &:hover {
    background-color: var(--orange-2);
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-light);

    gap: var(--gap-3);
  }
}

.img {
  border-radius: var(--bdr-2);
}

.icons {
  max-width: 3rem;
  max-height: 3rem;
}

/* .btnAct {
  font-size: var(--fst-h6);
}

.iconBtn {
  background-color: var(--color-btn);

  padding: var(--p-2);
  border-radius: var(--bdr-1);

  cursor: pointer;
}

.btn-post-add-page {
  padding: var(--p-1) var(--p-2);

  height: var(--h-2);
} */

/* 

.pInformation {
  line-height: var(--lh-2);
  font-size: var(--fst-h4);
}


.headerImg {
  border-radius: 25% 10%;

  width: 40rem;
  height: max-content;

  /* @media (min-width: 420px) {
    width: var(--wb-4);
  }

  @media (min-width: 520px) {
    width: var(--wb-6);
  }

  @media (min-width: 650px) {
    width: var(--wb-8);
  }

  @media (min-width: 800px) {
    margin-top: var(--m-5);
  }

  @media (min-width: 905px) {
    width: var(--wb-7);
  }

  @media (min-width: 1200px) {
    width: 5rem;
  } */

.messageErrorOff {
  display: none;
  font-size: var(--fst-h6);

  color: var(--color-error-msg);
}
.messageErrorOn {
  display: block;
}
