#sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  margin-bottom: var(--m-5);

  h2 {
    margin-bottom: var(--m-5);
  }

  p {
    margin-bottom: var(--m-3);
  }

  #pagesBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0;

    width: 100%;

    gap: var(--gap-2);

    margin-bottom: var(--m-5);

    @media (min-width: 450px) {
      justify-content: flex-end;
      margin-right: -100px;
      margin-left: -100px;
    }

    span,
    button {
      font-size: var(--font-span);
    }
  }

  .ulList {
    .liBig {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: start;

      gap: var(--gap-2);

      .img {
        width: 30rem;
        height: 30rem;

        @media (min-width: 450px) {
          width: 40rem;
          height: 30rem;
        }

        @media (min-width: 600px) {
          width: 55rem;
          height: 40rem;
        }

        @media (min-width: 1400px) {
          width: 65rem;
          height: 50rem;
        }
      }

      .dContent {
        h3 {
          margin-bottom: var(--m-1);
          width: 30rem;

          @media (min-width: 450px) {
            width: 40rem;
          }
        }

        ul {
          margin-top: var(--m-2);
          display: flex;
          flex-wrap: wrap;

          max-width: 30rem;

          gap: var(--gap-2);

          li {
            display: flex;
            align-items: center;
            gap: var(--gap-1);

            font-size: var(--font-p);
          }
        }

        .divSocial {
          margin-top: var(--m-2);

          display: flex;
          flex-direction: row;

          gap: var(--gap-1);

          @media(min-width: 600px) {
            gap: var(--gap-2);
          }
        }
      }
    }
  }
}

.iconBtn {
  padding: var(--p-1);
}

.uln {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-4);
  justify-items: center;
  align-items: baseline;

  @media (min-width: 1250px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ul1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
