main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 5vh 0;

  padding: var(--p-5) var(--p-1);

  img {
    display: none;

    @media (min-width: 769px) {
      display: block;
      width: 40rem;
      height: 40rem;
    }

    @media (min-width: 1024px) {
      width: 50rem;
      height: 50rem;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--green-1);

    margin: 0;

    border-radius: var(--bdr-2);

    color: var(--color-light);

    width: 30rem;

    @media (min-width: 450px) {
      width: 45rem;
    }

    h1 {
      font-size: var(--font-h2);
      margin-bottom: var(--m-3);
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      gap: var(--gap-2);

      div {
        display: flex;
        flex-direction: column;

        label,
        input,
        select,
        option {
          font-size: var(--font-p);
        }

        input,
        select {
          padding: var(--p-1);
          border-radius: var(--bdr-1);

          border: none;
          outline: none;

          width: 20rem;

          @media (min-width: 450px) {
            width: 25rem;
          }
        }

        label {
          margin-top: var(--m-1);
          margin-bottom: var(--m-1);
        }

        input {
          margin-bottom: var(--m-1);
        }
      }

      button {
        margin-top: var(--m-3);
      }
    }
  }
}

